@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');


body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

a {
    text-decoration: none;
}

.card-list-2 {
    display: flex;
    padding: 3rem;
    background-color: #17141d;
    text-align: center;
    height: 425px;
    overflow: hidden;
    border-bottom: cyan 2px solid;
    overflow-x: hidden;

}

.card-list-2::-webkit-scrollbar {
    width: 10px;
    height: 3px;
}
.card-list-2::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg,cyan, #40a8c4);
    border-radius: 10px;

}

.card-list-2::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card-2 {
    height: 200px;
    width: 800px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin-left: 100px;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    box-shadow: -1rem 0 3rem #000;
    margin-bottom: 10px;
}

.card-2-2 {
    height: 200px;
    width: 800px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin-left: 100px;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    margin-bottom: 10px;
    margin-top: 74px;
    box-shadow: -1rem 0 3rem #000;
}


.card-2:not(:first-child) {
    margin-left: -130px;
}

.card-2-2:not(:first-child) {
    margin-left: -130px;
}


.card-header-2 {
    margin-bottom: auto;
}

.card-header-2 p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header-2 h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header-2 h2:hover {
    background: linear-gradient(90deg,cyan, #40a8c4);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author-2 {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar-2 {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar-2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name-2 {
}

.author-name-prefix-2 {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
    width: 750px;
    margin-top: -40px !important;
}

.half-circle-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: cyan;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags-2 {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}
  

.tags-2 a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags-2 a:hover {
    background: linear-gradient(90deg, cyan, #40a8c4);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.tags-2 {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
    margin-left: 165px;

}

.tags-2 a:hover {
    background: linear-gradient(90deg, cyan, #40a8c4);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.tags-2 a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.second-main-image {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
