.link,
.link:hover {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: midnightblue;
    margin: 0;
    padding: 10px;
}

.title {
    font-size: 30px;
    position: absolute;
    top: 5px;
}

.div {
    background-color: midnightblue;
}

.div2 {
    border-bottom: 1px solid midnightblue;
    font-size: 30px;
}

p,
.div2
 {
    font-family: 'Vesper Libre', serif;
    
}

.btn-header {
    background-color: midnightblue;
    color: white !important;
}
ul {
    list-style-type: none;
}

h4, h5 {
    text-transform: capitalize;
}


.title{
    font-family: 'Vesper Libre', serif;
    color: white;
}
